<h1>ToDo Lists</h1>
<table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>List Name</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td>
            <div class="btn-cont"><%= link_to "Edit", edit_to_do_list_path(todo), class: "btn btn-primary" %></div>
          </td>
          <td><%= todo.name %></td>
        </tr>
      <% end %>
    </tbody>
</table>
